### Example 01

This is a basic example of using [tabula-py](https://github.com/chezou/tabula-py) to read a PDF's table into a [Pandas](https://pandas.pydata.org/) dataframe. Not much going on here - just a smoke test to ensure that Tabula is working correctly in the notebook environment.

In [5]:
import os
from tabula import read_pdf

In [6]:
df = read_pdf('./pdfs/table_01.pdf')
df

   ID             Name Instrument  Active
0   1      John Lennon     Guitar   False
1   2   Paul McCartney       Bass    True
2   3  George Harrison     Guitar   False
3   4      Ringo Starr     Drumbs    True